{%- extends "layouts/base.html" %}

{%- block body %}
<div class="container">
    {%- include "partials/nav.html" %}

    <div id="flash-messages">
        {%- include "partials/flash.html" %}
    </div>

    <main id="main-content">
        {%- block content %}{%- endblock %}
    </main>
</div>
{%- endblock %}
